﻿<script src="~/Scripts/angular.min.js"></script> 
<script src="~/Scripts/MyAngular.js"></script>


<div ng-app="myApp"> 

    <div ng-controller="myController">

            <button class="btn btn-danger" ng-click="changeDisplay()" >Pokaz/ukryj oceny</button> <br />
            <button class="btn btn-danger" ng-click="goToTeachers()">Przeglądaj nauczycieli</button>
            <br /><br />
       


           Filtruj: <input type="text" ng-model="query" />
        <br /><br />

       
            <div ng-repeat="Student in students | filter : query">
                <ul>
                    <li>
                        <p> Name: {{Student.name}} </p>
                        <p> Semester: {{Student.semester}} </p>
                        <p> Ects: {{Student.ects | currency :'Ł'}} </p>
                        <p> Dziekanka: {{Student.isBreak}} </p>
                    </li>
                </ul>
                <div ng-if="display">
                    Oceny:
                    <span ng-repeat="Grades in Student.gradeList track by $index">
                        {{Grades}},
                    </span>
                </div>
                <hr />
            
            </div>

    </div>

</div>