﻿<script src="~/Scripts/angular.min.js"></script>
<script src="~/Scripts/TeacherScript.js"></script>

<div ng-app="myTeacherApp">

    <div ng-controller="teacherController">
        <br />
        <button class="btn btn-danger" ng-click="goToIndex()">Powrót</button> <br /><br />
        
        Filtruj: <input type="text" ng-model="query" />
        <br /><br />

        <span ng-repeat="Teacher in teachers | filter : query">
            <p>Imię i nazwisko : {{Teacher.name}} {{Teacher.surname}} </p>
            <p>Tytuł naukowy: {{Teacher.degree}}</p>
            <hr />
        </span>
         
    </div>


</div>