﻿@model int

<div id="details">
</div>

<script type="text/javascript">

        console.log("Here")
        getDetails(@Model);

        getValues(@Model);

    console.log("And here")

</script>

<form id="editStudent">
    <div class="row">
        <label class="col-md-4" for="Name">Imie:</label>
        <input type="text" name="Name" id="Name" class="col-md-4"  />
    </div>
    <div class="row">
        <label class="col-md-4" for="Surname">Nazwisko:</label>
        <input type="text" name="Surname" id="Surname" class="col-md-4" />
    </div>
    <div class="row">
        <label class="col-md-4" for="Email">Email:</label>
        <input type="text" name="Email" id="Email" class="col-md-4" />
    </div>
    <div class="row">
        <label class="col-md-4" for="Index">Indeks:</label>
        <input type="text" name="Index" id="Index" class="col-md-4" />
    </div>
    <div class="row">
    <input onclick="patchStudent(@Model)" class="btn btn-danger col-md-6" value="Edytuj studenta" />
    <input onclick="deleteStudent(@Model)" class="btn btn-danger col-md-6" value="Usuń tego studenta" />
     <input onclick="backToMainPage()" class="btn btn-danger col-md-6" value="Wróc do strony głównej" />
    </div>

</form>